<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %highlight([%level]) %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <appender name="BUFFERED" class="helpers.BufferedLogAppender">
        <encoder>
            <pattern>
                %highlight([%level]) [%X{testName}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="BUFFERED" />
    </root>
</configuration> 